{% load static %}
<!-- Backend Bundle JavaScript -->
<script src="{% static "assets/js/backend-bundle.min.js" %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static "assets/js/customizer.js" %}"></script>
<!-- Chart Custom JavaScript -->

<script src="{% static "assets/js/chart-custom.js" %}"></script>
<!--PDF-->
<script src="{% static "assets/vendor/doc-viewer/include/pdf/pdf.js" %}"></script>
<!--Docs-->
<script src="{% static "assets/vendor/doc-viewer/include/docx/jszip-utils.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/docx/mammoth.browser.min.js" %}"></script>
<!--PPTX-->
<script src="{% static "assets/vendor/doc-viewer/include/PPTXjs/js/filereader.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/PPTXjs/js/d3.min.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/PPTXjs/js/nv.d3.min.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/PPTXjs/js/pptxjs.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/PPTXjs/js/divs2slides.js" %}"></script>
<!--All Spreadsheet -->
<script src="{% static "assets/vendor/doc-viewer/include/SheetJS/handsontable.full.min.js" %}"></script>
<script src="{% static "assets/vendor/doc-viewer/include/SheetJS/xlsx.full.min.js" %}"></script>
<!--Image viewer-->
<script src="{% static "assets/vendor/doc-viewer/include/verySimpleImageViewer/js/jquery.verySimpleImageViewer.js" %}"></script>
<!--officeToHtml-->
<script src="{% static "assets/vendor/doc-viewer/include/officeToHtml/officeToHtml.js" %}"></script>
<script src="{% static "assets/js/doc-viewer.js" %}"></script>
<!-- app JavaScript -->
<script src="{% static "assets/js/app.js" %}"></script>
<!-- Notification JavaScript -->
<script src="{% static "assets/js/Lobibox.js" %}"></script>
<script src="{% static "assets/js/notification-active.js" %}"></script>
<!-- Customized JavaScript -->
<script src="{% static "assets/js/custom_functions.js" %}"></script>